{% extends 'Montre_Connecte/layout.html' %}

{% block content %}
  <!-- Main Content -->
        <div id="content">
  
          <!-- Topbar -->
          <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow justify-content-center" style="text-align: center;">
  
            
  
            
            <!-- Topbar Navbar -->
                
            
                <h1 class="h3 mb-0 text-gray-800">Acceuil</h1>
            
          </nav>
          <!-- End of Topbar -->
  
          <!-- Begin Page Content -->
          <div class="container-fluid">
  
            <!-- Page Heading -->
  
            <!-- Content Row -->
  
              
            <!-- Content Row -->
  
              
              
  
          </div>
          <!-- /.container-fluid -->
  
        </div>
        <!-- End of Main Content -->

{% endblock content %}