{% extends 'Montre_Connecte/layout.html' %}
{% block title %}
<h1>Accueil</h1>
{% endblock title %}
{% block content %}
  <!-- Main Content -->
        <div id="content">
  
          <!-- Topbar -->
          <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow justify-content-center" style="text-align: center;">
  
            
  
            
            <!-- Topbar Navbar -->
                
            
                
            
          </nav>
          <!-- End of Topbar -->
  
          <!-- Begin Page Content -->
          <div class="container-fluid ">
  
            <!-- Page Heading -->
          <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow justify-content-center" style="text-align: center;">
  
            
  
            
            <!-- Topbar Navbar -->
                
            
                <h1 class="h3 mb-0 text-gray-800">Géneral</h1>
            
          </nav>
          <!-- End of Topbar -->
  
            <!-- Content Row -->
                      
					  <div class="container" >
                          <div class="container justify-content-center" >
                            <div class="w-100">
                              <div class="row justify-content-center">
                                <div class="col-sm-6">
                                  <div class="card">
                                    <div class="card-body">
                                      <h5 class="card-title mb-3">Participants</h5>
                                      <h1 class="mt-1 mb-4">{{particip}}</h1>
                                      
                                    </div>
                                  </div>
                                  <div class="card">
                                    <div class="card-body">
                                      <h5 class="card-title mb-4">Total de pas</h5>
                                      <h1 class="mt-1 mb-3">{{total}}</h1>
                                      
                                    </div>
                                  </div>
                                </div>
                                <div class="col-sm-6">
                                  <div class="card">
                                    <div class="card-body">
                                      <h5 class="card-title mb-4">Total Minutes Actives</h5>
                                      <h1 class="mt-1 mb-3">{{nombre}}</h1>
                                     
                                    </div>
                                  </div>
                                  <div class="card">
                                    <div class="card-body">
                                      <h5 class="card-title mb-4">Total Calories</h5>
                                      <h1 class="mt-1 mb-3">{{ calories }}</h1>
                                      
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          </div>

        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow justify-content-center" style="text-align: center;">
  
            
  
            
            <!-- Topbar Navbar -->
                
            
                <h1 class="h3 mb-0 text-gray-800">Journalier</h1>
            
          </nav>
          <!-- End of Topbar -->
  


 <div class="container">
                          <div class="container justify-content-center" >
                            <div class="w-100">
                              <div class="row justify-content-center">
                                <div class="col-sm-6">
                                  <div class="card">
                                    <div class="card-body">
                                      <h5 class="card-title mb-3 align-text-center">NPas</h5>
                                      <h1 class="mt-1 mb-4">{{particip}}</h1>
                                      
                                    </div>
                                  </div>
                                  <div class="card">
                                    <div class="card-body">
                                      <h5 class="card-title mb-4">Nombre de Pas du jour</h5>
                                      <h1 class="mt-1 mb-3">{{pasJ}}</h1>
                                      
                                    </div>
                                  </div>
                                </div>
                                <div class="col-sm-6">
                                  <div class="card">
                                    <div class="card-body">
                                      <h5 class="card-title mb-4">Minutes Actives</h5>
                                      <h1 class="mt-1 mb-3">{{minJ}}</h1>
                                     
                                    </div>
                                  </div>
                                  <div class="card">
                                    <div class="card-body">
                                      <h5 class="card-title mb-4">Calories</h5>
                                      <h1 class="mt-1 mb-3">{{ calJ }}</h1>
                                      
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>







                
            <!-- Content Row -->
  
              
              
  
          </div>
          <!-- /.container-fluid -->
  
        </div>
        <!-- End of Main Content -->

{% endblock content %}