{% extends 'Montre_Connecte/layout.html' %}

{% block content %}
  <!-- Main Content -->
        <div id="content">
  
          <!-- Topbar -->
          <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow justify-content-center" style="text-align: center;">
  
            
  
            
            <!-- Topbar Navbar -->
                
            
                <h1 class="h3 mb-0 text-gray-800">Acceuil</h1>
            
          </nav>
          <!-- End of Topbar -->
  
          <!-- Begin Page Content -->
          <div class="container-fluid">
  
            <!-- Page Heading -->
          <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow justify-content-center" style="text-align: center;">
  
            
  
            
            <!-- Topbar Navbar -->
                
            
                <h1 class="h3 mb-0 text-gray-800">Géneral</h1>
            
          </nav>
          <!-- End of Topbar -->
  
            <!-- Content Row -->
                      
					  <div class="row">
                          <div class="col-xl-6 col-xxl-5 d-flex">
                            <div class="w-100">
                              <div class="row">
                                <div class="col-sm-6">
                                  <div class="card">
                                    <div class="card-body">
                                      <h5 class="card-title mb-3">Participants</h5>
                                      <h1 class="mt-1 mb-4">{{particip}}</h1>
                                      
                                    </div>
                                  </div>
                                  <div class="card">
                                    <div class="card-body">
                                      <h5 class="card-title mb-4">Total de pas</h5>
                                      <h1 class="mt-1 mb-3">{{total}}</h1>
                                      
                                    </div>
                                  </div>
                                </div>
                                <div class="col-sm-6">
                                  <div class="card">
                                    <div class="card-body">
                                      <h5 class="card-title mb-4">Total Minutes Actives</h5>
                                      <h1 class="mt-1 mb-3">{{nombre}}</h1>
                                     
                                    </div>
                                  </div>
                                  <div class="card">
                                    <div class="card-body">
                                      <h5 class="card-title mb-4">Total Calories</h5>
                                      <h1 class="mt-1 mb-3">{{ moy }}</h1>
                                      
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>

        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow justify-content-center" style="text-align: center;">
  
            
  
            
            <!-- Topbar Navbar -->
                
            
                <h1 class="h3 mb-0 text-gray-800">Journalier</h1>
            
          </nav>
          <!-- End of Topbar -->
  


 <div class="row">
                          <div class="col-xl-6 col-xxl-5 d-flex">
                            <div class="w-100">
                              <div class="row">
                                <div class="col-sm-6">
                                  <div class="card">
                                    <div class="card-body">
                                      <h5 class="card-title mb-3">NPas</h5>
                                      <h1 class="mt-1 mb-4">{{particip}}</h1>
                                      
                                    </div>
                                  </div>
                                  <div class="card">
                                    <div class="card-body">
                                      <h5 class="card-title mb-4">Nombre de Pas du jour</h5>
                                      <h1 class="mt-1 mb-3">{{total}}</h1>
                                      
                                    </div>
                                  </div>
                                </div>
                                <div class="col-sm-6">
                                  <div class="card">
                                    <div class="card-body">
                                      <h5 class="card-title mb-4">Minutes Actives</h5>
                                      <h1 class="mt-1 mb-3">{{nombre}}</h1>
                                     
                                    </div>
                                  </div>
                                  <div class="card">
                                    <div class="card-body">
                                      <h5 class="card-title mb-4">Calories</h5>
                                      <h1 class="mt-1 mb-3">{{ moy }}</h1>
                                      
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>







                
            <!-- Content Row -->
  
              
              
  
          </div>
          <!-- /.container-fluid -->
  
        </div>
        <!-- End of Main Content -->

{% endblock content %}